main {
  display: flex;
  flex-wrap: wrap;
}

.left-side {
  order: 1;
  flex: 0 0 50%;
}

.right-side {
  order: 2;
  flex: 0 0 50%;
}

.main-input {
  min-width: 300px;
  width: 100%;
}

progress {
  display: block;
}

/* tabs */

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*TODO*/
nav li {
  display: inline;
  background: #eee;
  margin-left: 5px;
  margin-right: 5px;
}

/*TODO*/
nav li[selected] {
  background: white;
}

/*TODO*/
.main-preview {
  background: white;
}
